@import "../../../theme/utils/utils.scss";

ion-row {
    padding-bottom: 0;
}

ion-buttons{
    margin-top: 12px;
}

@include screen-desktop {
  
    .blockquote {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;

        blockquote {
            width: 550px;
        }
    }

    img {
        max-height: 550px;
        padding-bottom: 20px;
    }

    ion-row {
        font-size: 18px;
        padding-left: 100px;
        padding-right: 100px;
        h6{
            font-size: 23px;
        }
    }
}