<div class="container">
  <div class="calendar">
    <div class="front">
      <div class="current-date">
        <h1>{{'schedule' | translate}}</h1>
      </div>
      <div class="current-month">
        <div class="week-days" [ngClass]="{'ios':utils.isSafari()}">
          <div [ngClass]="{'today': day === 1}">{{'monday' | translate}}</div>
          <div [ngClass]="{'today': day === 2}">{{'tuesday' | translate}}</div>
          <div [ngClass]="{'today': day === 3}">{{'wednesday' | translate}}</div>
          <div [ngClass]="{'today': day === 4}">{{'thursday' | translate}}</div>
          <div [ngClass]="{'today': day === 5}">{{'friday' | translate}}</div>
          <div [ngClass]="{'today': day === 6}">{{'saturday' | translate}}</div>
          <div [ngClass]="{'today': day === 7}">{{'sunday' | translate}}</div>
        </div>
        <div class="week-days-container">
          <div class="hour">17:45 <br> 18:45</div>
          <div class="week-days">
            <div class="day-work">
              <ion-icon slot="start" name="person-outline"></ion-icon>
            </div>
            <div class="day-off">X</div>
            <div class="day-work">
              <ion-icon slot="start" name="person-outline"></ion-icon>
            </div>
            <div class="day-off">X</div>
            <div class="day-work">
              <ion-icon slot="start" name="person-outline"></ion-icon>
            </div>
            <div class="day-off">X</div>
            <div class="day-off">X</div>
          </div>
        </div>
        <div class="week-days-container">
          <div class="hour">18:45 <br> 19:45</div>
          <div class="week-days">
            <div class="day-work">
              <ion-icon slot="start" name="person-outline"></ion-icon>
            </div>
            <div class="day-work">
              <ion-icon slot="start" name="person-outline"></ion-icon>
            </div>
            <div class="day-work">
              <ion-icon slot="start" name="person-outline"></ion-icon>
            </div>

            <div class="day-work">
              <ion-icon slot="start" name="person-outline"></ion-icon>
            </div>
            <div class="day-work">
              <ion-icon slot="start" name="person-outline"></ion-icon>
            </div>

            <div class="day-off">X</div>
            <div class="day-off">X</div>
          </div>
        </div>
        <div class="week-days-container">
          <div class="hour" [ngClass]="{'ios':utils.isSafari()}">19:45 <br> 20:45</div>
          <div class="week-days">
            <div class="day-work"><img class="gi-calendar" src="assets/images/gi.svg" /></div>
            <div class="day-off">X</div>
            <div> <img class="gi-calendar day-work" src="assets/images/gi.svg" /></div>
            <div class="day-off">X</div>
            <div> <img class="gi-calendar day-work" src="assets/images/gi.svg" /></div>
            <div class="day-off">X</div>
            <div class="day-off">X</div>
          </div>
        </div>
        <div class="week-days-container">
          <div class="hour">20:45 <br> 21:45</div>
          <div class="week-days">
            <div> <img class="mma-calendar day-work" src="assets/images/grappling.png" /></div>
            <div class="day-off">X</div>
            <div> <img class="mma-calendar day-work" src="assets/images/grappling.png" /></div>
            <div class="day-off">X</div>
            <div> <img class="mma-calendar day-work" src="assets/images/grappling.png" /></div>
            <div class="day-off">X</div>
            <div class="day-off">X</div>
          </div>
        </div>
        <div class="week-days-container">
          <div class="hour">20:45 <br> 21:45</div>
          <div class="week-days">
            <div class="day-work"><img class="mma-calendar" src="assets/images/mma.png" /></div>
            <div class="day-off">X</div>
            <div> <img class="mma-calendar day-work" src="assets/images/mma.png" /></div>
            <div class="day-off">X</div>
            <div> <img class="mma-calendar day-work" src="assets/images/mma.png" /></div>
            <div class="day-off">X</div>
            <div class="day-off">X</div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>