<div class="container">
  <div class="calendar">
    <div class="front">
      <div class="current-date">
        <h1>HORARIO</h1>
        <div>
          <ion-button mode="md" (click)="utils.openModalDetail()" color="light" fill="outline">
            Tarifas
          </ion-button>
        </div>
      </div>
      <div class="current-month">
        <div class="week-days">
          <div>MON</div>
          <div>TUE</div>
          <div>WED</div>
          <div>THU</div>
          <div>FRI</div>
          <div>SAT</div>
          <div>SUN</div>
        </div>
        <div class="week-days-container" *ngIf="!noShowGi">
          <div class="hour">19:45 <br> 20:45</div>
          <div class="week-days">
            <div class="day-work"><img class="gi-calendar" src="assets/images/gi.svg" /></div>
            <div class="day-off">X</div>
            <div> <img class="gi-calendar day-work" src="assets/images/gi.svg" /></div>
            <div class="day-off">X</div>
            <div> <img class="gi-calendar day-work" src="assets/images/gi.svg" /></div>
            <div class="day-off">X</div>
            <div class="day-off">X</div>
          </div>
        </div>
        <div class="week-days-container" *ngIf="!noShowGrappling">
          <div class="hour">20:45 <br> 21:45</div>
          <div class="week-days">
            <div> <img class="mma-calendar day-work" src="assets/images/grappling.png" /></div>
            <div class="day-off">X</div>
            <div> <img class="mma-calendar day-work" src="assets/images/grappling.png" /></div>
            <div class="day-off">X</div>
            <div> <img class="mma-calendar day-work" src="assets/images/grappling.png" /></div>
            <div class="day-off">X</div>
            <div class="day-off">X</div>
          </div>
        </div>
        <div class="week-days-container" *ngIf="!noShowMMA">
          <div class="hour">20:45 <br> 21:45</div>
          <div class="week-days">
            <div class="day-work"><img class="mma-calendar" src="assets/images/mma.png" /></div>
            <div class="day-off">X</div>
            <div> <img class="mma-calendar day-work" src="assets/images/mma.png" /></div>
            <div class="day-off">X</div>
            <div> <img class="mma-calendar day-work" src="assets/images/mma.png" /></div>
            <div class="day-off">X</div>
            <div class="day-off">X</div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>