<ion-toolbar class="ion-padding-start ion-padding-end">
  <ion-icon (click)="back()" slot="end" size="large" name="close"></ion-icon>
</ion-toolbar>
<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="12" class="t-center title ion-padding-start ion-padding-end">
        <p><a #title class="underlined underlined--thick">
          Lorem ipsum dolor sit ame consectetur adipisicing
          </a></p>
      </ion-col>
      <!-- <ion-col size="12" class="">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci quam ratione eaque ipsum tempore ipsa,
        explicabo reiciendis ullam quisquam porro modi sapiente, sequi vel quae mollitia atque consectetur, temporibus
        blanditiis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi officia, aliquam blanditiis consectetur nam ad,
        aspernatur perferendis exercitationem sequi sapiente quis porro vero corporis ab officiis asperiores eum
        laudantium ipsam?
      </ion-col> -->
      <ion-col size="12" class="mt-s ion-padding-start ion-padding-end" *ngFor="let item of [1,2] ">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci quam ratione eaque ipsum tempore ipsa,
        explicabo reiciendis ullam quisquam porro modi sapiente, sequi vel quae mollitia atque consectetur, temporibus
        blanditiis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi officia, aliquam blanditiis consectetur nam ad,
        aspernatur perferendis exercitationem sequi sapiente quis porro vero corporis ab officiis asperiores eum
        laudantium ipsam?
      </ion-col>
      <ion-col size="12" class="ion-no-padding mt-m">
        <app-calendar [noShowGrappling]="true" [noShowMMA]="true"></app-calendar>
      </ion-col>
      <ion-col size="12" class="mt-m flex ion-justify-content-center">
        <ion-button mode="md" (click)="back()" class="fat-btn">{{'Volver' |translate}}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>