.header_title {
    width: 80%;
    justify-content: revert;
    margin-left: 50px;
}

.pricing-list{
    ion-item{
        // ion-item{
        //     width: 30%;
        // }
    }
}

ion-footer{
    padding-bottom: 20px;
}

ion-datetime{
    padding: 0 30px 30px 30px;
}