@import "../../../../theme/utils/utils.scss";


.content{
    padding: 20px;
    padding-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    div:nth-child(1) {
        width: 50%;
        div:nth-child(1) {
            font-weight: 800;
            font-size: 13px;
            margin-left: 16px;
            text-transform: uppercase;

            @include screen-tablet-and-desktop {
                font-size: 16px;
            }
        }
        div:nth-child(2) {
            font-weight: 800;
            font-size: 13px;
            margin-left: 16px;
            width: 100%;

        

            @include screen-tablet-and-desktop {
                font-size: 16px;
            }
        }
    }
    div:nth-child(2){
        width: 45%;
        div:nth-child(1) {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            text-transform: uppercase;
            font-weight: 800;
            // color: var(--ion-color-primary);
            font-size: 13px;
            margin-left: 16px;
            margin-top: 10px;

            @include screen-tablet-and-desktop {
                font-size: 16px;
            }
        }

        div:nth-child(2) {
            font-size: 13px;
            display: flex;
            margin-left: 16px;
            align-items: center;
            font-weight: 800;
            width: 75%;

            @include screen-mobile {
                justify-content: flex-start;
            }

            @include screen-tablet-and-desktop {
                font-size: 16px;
            }
        }

        .follow-us {
            font-size: 13px;
            font-weight: 800;

            div:nth-child(2) {
                display: flex;
                justify-content: flex-start;

                ion-icon {
                    transform: scale(1.1);
                }
            }

            @include screen-tablet-and-desktop {
                font-size: 16px;
            }
        }

        form {
            padding: 16px;

            .invalid {
                border: 1px solid red;

                ion-label {
                    color: red;
                }
            }
        }
    }
}

.contact-row {
    div:nth-child(1) {
        width: 100%;
        background: #1c1c1c;
        display: flex;


        .where-we-are {
            width: 70%;
            display: flex;
            flex-direction: column;
            div:nth-child(1) {

                color: var(--ion-color-secondary);
                font-weight: 800;
                font-size: 13px;
                margin-left: 16px;
                text-transform: uppercase;

                @include screen-tablet-and-desktop {
                    font-size: 16px;
                }
            }
        }

        div:nth-child(2) {
            font-weight: 800;
            font-size: 13px;
            margin-left: 16px;
            color: white;
            width: 100%;

            span {
                color: hsla(0, 0%, 100%, 0.6);
            }

            @include screen-tablet-and-desktop {
                font-size: 16px;
            }
        }

        div:nth-child(3) {
            filter: grayscale(100%);
        }

        .contact{
            width: 30%;
            div:nth-child(4) {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                color: white;
                text-transform: uppercase;
                font-weight: 800;
                color: var(--ion-color-secondary);
                font-size: 13px;
                margin-left: 16px;
                margin-top: 10px;
    
                @include screen-tablet-and-desktop {
                    font-size: 16px;
                }
            }
    
            div:nth-child(5) {
                color: white;
                font-size: 13px;
                display: flex;
                margin-left: 16px;
                align-items: center;
                font-weight: 800;
    
                @include screen-mobile {
                    justify-content: flex-start;
                }
    
                @include screen-tablet-and-desktop {
                    font-size: 16px;
                }
            }
    
            .follow-us {
                font-size: 13px;
                font-weight: 800;
    
                div:nth-child(2) {
                    display: flex;
                    justify-content: flex-start;
    
                    ion-icon {
                        transform: scale(1.1);
                    }
                }
    
                @include screen-tablet-and-desktop {
                    font-size: 16px;
                }
            }
    
            form {
                padding: 16px;
    
                .invalid {
                    border: 1px solid red;
    
                    ion-label {
                        color: red;
                    }
                }
            }
        }
    }
}