<ion-app>
  <div class="loading" *ngIf="loading">
    <img src="assets/images/logo.png" />
  </div>

  <ion-router-outlet [animated]="true" id="main"></ion-router-outlet>

  <ion-menu  side="start" menuId="menu" contentId="main">
    <ion-header class="ion-no-border ion-padding-end">
      <ion-toolbar translucent>
        <ion-icon slot="end" size="large" name="close" (click)="utils.closeMenu()"></ion-icon>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item (click)="utils.scrollToPoint(0)">
          <ion-icon name="book-outline" slot="start"></ion-icon>
          <ion-label>{{'bit.of.read' | translate}} </ion-label>
        </ion-item>
        <ion-item (click)="utils.scrollToPoint(1300)">
          <ion-icon name="card-outline" slot="start"></ion-icon>
          <ion-label>{{'pricing' | translate}}</ion-label>
        </ion-item>
        <ion-item (click)="utils.scrollToPoint(1600)">
          <ion-icon name="calendar-outline" slot="start"></ion-icon>
          <ion-label>{{'schedule' | translate | titlecase}}</ion-label>
        </ion-item>
        <ion-item (click)="utils.openGallery(state)">
          <ion-icon name="images-outline" slot="start"></ion-icon>
          <ion-label>{{'gallery' | translate}}</ion-label>
        </ion-item>
        <ion-item (click)="utils.scrollToPoint(2200)">
          <ion-icon name="mail-outline" slot="start"></ion-icon>
          <ion-label>{{'contact.label' | translate}}</ion-label>
        </ion-item>
        <ion-item (click)="utils.scrollToPoint(3000)">
          <ion-icon name="navigate-circle-outline" slot="start"></ion-icon>
          <ion-label>{{'where.we.are' | translate}}</ion-label>
        </ion-item>
        <ion-item (click)="changeLang()">
          <img *ngIf="lang === 'es'" id="flag-icon" src="assets/images/united-kingdom.png" slot="start">
          <img *ngIf="lang === 'en'" id="flag-icon" src="assets/images/spain.png" slot="start">
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
</ion-app>