<ion-header collapse="fade" class="ion-no-border main-header hide-desktop" [translucent]="true">
  <ion-toolbar class="animation fadeIn header-mobile" #toolbar>
    <div class="flex flex-ai-c">
      <div class="logo-container">
        <ion-avatar class="logo header_logo">
          <img src="assets/images/logo.png" />
        </ion-avatar>
      </div>
      <div class="header_title">Gracie Madrid</div>
    </div>
    <ion-icon #menuIcon (click)="openMenu()" slot="end" class="mr-s menu-icon" size="large" name="menu"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content 
#content
appParallax appFadeHeader [appFadeHeader]="toolbar" [menuIcon]="menuIcon"
 class="container hide-desktop" [scrollEvents]="true" *ngIf="conf && !utils.isDesktop">
  <app-home-mobile></app-home-mobile>
</ion-content>



<ion-header collapse="fade" class="ion-no-border header hide-mobile hide-tablet" [translucent]="true">
  <ion-toolbar class="animation fadeIn" #toolbar>
    <div class="flex flex-ai-c">
      <div class="header__logo ml-sm mt-s">
        <img src="assets/images/logo.png" />
      </div>
      <div class="header__title ml-sm">Gracie Madrid</div>
    </div>
    <ion-buttons slot="end" class="header__nav-bar mr-l">
      <ion-button (click)="utils.scrollToPoint(0)"> {{'bit.of.read' | translate}} </ion-button>
      <ion-button (click)="utils.scrollToPoint(500)"> {{'pricing' | translate}} </ion-button>
      <ion-button (click)="utils.scrollToPoint(800)"> {{'schedule' | translate | titlecase }} </ion-button>
      <ion-button (click)="utils.openGallery(state)"> {{'gallery' | translate}} </ion-button>
      <ion-button (click)="utils.scrollToPoint(1800)"> {{'contact.label' | translate}} </ion-button>
      <ion-button (click)="utils.scrollToPoint(1800)">{{'where.we.are' |translate}} </ion-button>
      <ion-button (click)="utils.changeLang()">
        <img *ngIf="utils.lang === 'es'" id="flag-icon" src="assets/images/united-kingdom.png" slot="start">
        <img *ngIf="utils.lang === 'en'" id="flag-icon" src="assets/images/spain.png" slot="start">
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content #content class="ion-no-padding hide-mobile hide-tablet" *ngIf="utils.isDesktop">
  <app-home-web></app-home-web>
</ion-content>
