@import "../../../theme/utils/utils.scss";


.menu-icon {
    background: transparent;
    color: white;
    border-radius: 23px;
    padding: 6px;

    @include screen-custom(270px, 340px) {
        transform: scale(0.8);
    }
  
}

.header-mobile {

    .header_logo {
        @include screen-iphoneSE {
            transform: scale(.85);
        }

        @include screen-iphone8 {
            transform: scale(.98);
        }
    }

    .header_title {

        @include screen-iphone8-plus {
            font-size: 1.8em;
        }
    }
}

.header {
    &__logo {
        padding: 10px;

        img {
            width: 90px;
            height: 90px;
        }
    }

    &__title {
        font-size: 40px;
        font-family: "Smooch", cursive;
        font-weight: 900;
    }

    &__nav-bar {
        ion-button {
            text-transform: capitalize;
            font-size: 17px;
        }
    }
}
