<ion-col class="ion-padding our-classes" size="12" *ngIf="conf">
  <div class="flex flex-ai-c pl-19 title mb-sm">
    <ion-icon name="card"></ion-icon>
    <span class="ml-s bold t-upper"> {{'pricing' | translate}}</span>
  </div>
  <ion-slides class="ion-padding" #slider [options]="slideOpts">
    <ion-slide *ngIf="conf?.pricing[0]?.active">
      <div class="flip-card">
        <div class="flip-card-inner" #card1>
          <div class="flip-card-front">
            <div class="header flex flex-column">
              <div class="flex flex-jc-c w100 mt-sm">
                <img src="assets/images/gi.svg" alt="gi">
              </div>
              <div class="title">
                Jiu-Jitsu
              </div>
            </div>
            <div class="text mt-s">
           {{'pricing.jiujitsu' | translate}}
            </div>
            <div class="flex flex-jc-c btn">
              <ion-button [ngClass]="{'hidden':flipped1}" color="secondary" mode="md" (click)="rotateCard(card1,1)"
                class="fat-btn mt-sm">
                <span>{{ 'price' | translate}}</span>
              </ion-button>
            </div>
          </div>
          <div class="flip-card-back">
            <div class="flex flex-jc-c w100 mt-sm">
              <img src="assets/images/gi.svg" alt="gi">
            </div>
            <div class="flex flex-column mt-sm">
              <ion-label class="flex flex-jc-c flex-ai-c">
                <ion-icon color="success" class="mr-xs" name="checkmark-outline"></ion-icon>
                {{'three.hours.week' | translate}}
              </ion-label>
              <ion-label class="mt-xs flex flex-jc-c flex-ai-c">
                <ion-icon color="success" class="mr-xs" name="checkmark-outline"></ion-icon>
               {{'without.plate' | translate}}
              </ion-label>
            </div>
            <ion-col class="mt-s flex flex-jc-c flex-ai-c badge-col">
              <div class="badge">
                <span>{{conf?.pricing[0]?.price}}€</span>
                <span>{{'month' | translate}}</span>
              </div>
            </ion-col>
            <div class="flex flex-jc-c btn">
              <ion-button color="secondary" mode="md" (click)="rotateCard(card1,1)" class="fat-btn mt-sm">
                <span>{{'back' | translate}}</span>
              </ion-button>
            </div>
          </div>
        </div>
      </div>
    </ion-slide>
    <ion-slide *ngIf="conf?.pricing[1]?.active">
      <div class="flip-card">
        <div class="flip-card-inner" #card2>
          <div class="flip-card-front">
            <div class="header flex flex-column">
              <div class="flex flex-jc-c w100 mt-sm">
                <img src="assets/images/grappling.png" alt="gi">
              </div>
              <div class="title  mt-s">
                Grappling
              </div>
            </div>
            <div class="text  mt-s">
            {{'pricing.grappling' | translate}}
            </div>
            <div class="flex flex-jc-c btn">
              <ion-button [ngClass]="{'hidden':flipped2}" color="secondary" mode="md" (click)="rotateCard(card2,2)"
                class="fat-btn mt-sm">
                <span>{{'price' | translate}}</span>
              </ion-button>
            </div>
          </div>
          <div class="flip-card-back">
            <div class="flex flex-jc-c w100 mt-sm">
              <img src="assets/images/grappling.png" alt="gi">
            </div>
            <div class="flex flex-column mt-sm">
              <ion-label class="flex flex-jc-c flex-ai-c">
                <ion-icon color="success" class="mr-xs" name="checkmark-outline"></ion-icon>
                  {{'three.hours.week' | translate}}
                </ion-label>
              <ion-label class="mt-xs flex flex-jc-c flex-ai-c">
                <ion-icon color="success" class="mr-xs" name="checkmark-outline"></ion-icon>
               {{'without.plate' | translate}}
              </ion-label>
            </div>
            <ion-col class="mt-s flex flex-jc-c flex-ai-c badge-col">
              <div class="badge">
                <span>{{conf?.pricing[1]?.price}}€</span>
                <span>{{'month' | translate}}</span>
              </div>
            </ion-col>
            <div class="flex flex-jc-c btn">
              <ion-button color="secondary" mode="md" (click)="rotateCard(card2,2)" class="fat-btn mt-sm">
                <span>{{'back' | translate}}</span>
              </ion-button>
            </div>
          </div>
        </div>
      </div>
    </ion-slide>
    <ion-slide *ngIf="conf?.pricing[2]?.active">
      <div class="flip-card">
        <div class="flip-card-inner" #card3>
          <div class="flip-card-front">
            <div class="header flex flex-column">
              <div class="flex flex-jc-c w100 mt-sm">
                <img src="assets/images/mma.png" alt="gi">
              </div>
              <div class="title  mt-s">
                MMA
              </div>
            </div>
            <div class="text  mt-s">
              {{ 'pricing.mma' | translate}}
            </div>
            <div class="flex flex-jc-c btn">
              <ion-button [ngClass]="{'hidden':flipped3}" color="secondary" mode="md" (click)="rotateCard(card3,3)"
                class="fat-btn mt-sm">
                <span>{{'price' | translate}}</span>
              </ion-button>
            </div>
          </div>
          <div class="flip-card-back">
            <div class="flex flex-jc-c w100 mt-sm">
              <img src="assets/images/mma.png" alt="gi">
            </div>
            <div class="flex flex-column mt-sm">
              <ion-label class="flex flex-jc-c flex-ai-c">
                <ion-icon color="success" class="mr-xs" name="checkmark-outline"></ion-icon>
                {{'three.hours.week' | translate}}
              </ion-label>
              <ion-label class="mt-xs flex flex-jc-c flex-ai-c">
                <ion-icon color="success" class="mr-xs" name="checkmark-outline"></ion-icon>
                {{'without.plate' | translate}}
              </ion-label>
            </div>
            <ion-col class="mt-s flex flex-jc-c flex-ai-c badge-col">
              <div class="badge">
                <span>{{conf?.pricing[2]?.price}}€</span>
                <span>{{'month' | translate}}</span>
              </div>
            </ion-col>
            <div class="flex flex-jc-c btn">
              <ion-button color="secondary" mode="md" (click)="rotateCard(card3,3)" class="fat-btn mt-sm">
                <span>{{ 'back' |translate}}</span>
              </ion-button>
            </div>
          </div>
        </div>
      </div>
    </ion-slide>
    <ion-slide *ngIf="conf?.pricing[3]?.active">
      <div class="flip-card">
        <div class="flip-card-inner" #card4>
          <div class="flip-card-front">
            <div class="header flex flex-column">
              <div class="flex flex-jc-c w100 mt-sm">
                <img src="assets/images/gi.svg" alt="gi">
                <img src="assets/images/mma.png" alt="gi">
              </div>
              <div class="title  mt-s">
                Jiu-Jitsu + MMA
              </div>
            </div>
            <div class="text  mt-s">
             {{'pricing.premium' | translate}}
            </div>
            <div class="flex flex-jc-c btn">
              <ion-button [ngClass]="{'hidden':flipped4}" color="secondary" mode="md" (click)="rotateCard(card4,4)"
                class="fat-btn mt-sm">
                <span>{{'price' | translate}}</span>
              </ion-button>
            </div>
          </div>
          <div class="flip-card-back">
            <div class="flex flex-jc-c w100 mt-sm">
              <img src="assets/images/gi.svg" alt="gi">
              <img src="assets/images/mma.png" alt="gi">
            </div>
            <div class="flex flex-column mt-sm">
              <ion-label class="flex flex-jc-c flex-ai-c">
                <ion-icon color="success" class="mr-xs" name="checkmark-outline"></ion-icon>
               {{'six.hours.week' | translate}}
              </ion-label>
              <ion-label class="mt-xs flex flex-jc-c flex-ai-c">
                <ion-icon color="success" class="mr-xs" name="checkmark-outline"></ion-icon>
                {{'without.plate' | translate}}
              </ion-label>
            </div>
            <ion-col class="mt-s flex flex-jc-c flex-ai-c badge-col">
              <div class="badge">
                <span>{{conf?.pricing[3]?.price}}€</span>
                <span>{{'month' | translate}}</span>
              </div>
            </ion-col>
            <div class="flex flex-jc-c btn">
              <ion-button color="secondary" mode="md" (click)="rotateCard(card4,4)" class="fat-btn mt-sm">
                <span>{{'back' | translate}}</span>
              </ion-button>
            </div>
          </div>
        </div>
      </div>
    </ion-slide>
    <ion-slide *ngIf="conf?.pricing[4]?.active">
      <div class="flip-card">
        <div class="flip-card-inner" #card5>
          <div class="flip-card-front">
            <div class="header flex flex-column">
              <div class="flex flex-jc-c w100 mt-sm">
                <ion-icon name="person-outline"></ion-icon>
              </div>
              <div class="title  mt-s">
                {{'pricing.private.title' | translate}}
              </div>
            </div>
            <div class="text  mt-s">
            {{ 'pricing.private' | translate}}
            </div>
            <div class="flex flex-jc-c btn">
              <ion-button [ngClass]="{'hidden':flipped5}" color="secondary" mode="md" (click)="rotateCard(card5,5)"
                class="fat-btn mt-sm">
                <span>{{ 'price' | translate}}</span>
              </ion-button>
            </div>
          </div>
          <div class="flip-card-back">
            <div class="flex flex-jc-c w100 mt-sm">
              <ion-icon name="person-outline"></ion-icon>
            </div>
            <div class="flex flex-column mt-sm">
              <ion-label class="flex flex-jc-c flex-ai-c">
                <ion-icon color="success" class="mr-xs" name="checkmark-outline"></ion-icon>
                {{'one.hour.personal' | translate}}
              </ion-label>
              <ion-label class="mt-xs flex flex-jc-c flex-ai-c">
                <ion-icon color="success" class="mr-xs" name="checkmark-outline"></ion-icon>
                {{'flexibility.schedule' | translate}}
              </ion-label>
            </div>
            <ion-col class="mt-s flex flex-jc-c flex-ai-c badge-col">
              <div class="badge">
                <span>{{conf?.pricing[4]?.price}}€</span>
                <span class="private">{{'hour' | translate}}</span>
              </div>
            </ion-col>
            <div class="flex flex-jc-c btn">
              <ion-button color="secondary" mode="md" (click)="rotateCard(card5,5)" class="fat-btn mt-sm">
                <span>{{'back' | translate}}</span>
              </ion-button>
            </div>
          </div>
        </div>
      </div>
    </ion-slide>
  </ion-slides>
</ion-col>